:root
{
	font-size: 16px;
	font-family: 'Roboto', sans-serif;

	--main-bg-color: #eeeeee;
	--footer-bg-color: #1d1d1d;
	--footer-txt-color: #ffffff;
}

html, body
{
	height: 100%;
}

/* || General styling */

body
{
	display: flex;
	flex-direction: column;
}

main
{
	flex-grow: 1;
	background-color: var(--main-bg-color);
	overflow-y: auto;
}

main > .tabTitle
{
	margin: 0 10px;
	padding: 10px;
	border-bottom: 2px solid black;
	font-size: 3rem;
	position: relative;
}

main > .tabTitle::after
{
	content: ' -';
}

main > .tabTitle > img
{
	position: absolute;
	top: 10px;
	right: 0;
}

footer
{
	text-align: center;
	font-family: monospace;
	padding: 5px;
	color: var(--footer-txt-color);
	background-color: var(--footer-bg-color);
}

#modal, #modalBg, #modalCloseBtn
{
	position: absolute;
}

#modalBg
{
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #44444465;
}

#modal
{
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	min-width: 50%;
	background-color: var(--main-bg-color);
	padding: 0 40px 20px 40px;
	border-radius: 10px;
}

#modalCloseBtn
{
	top: 5px;
	right: 5px;
	width: 20px;
	height: 20px;
	text-align: center;
}

#modalCloseBtn::after
{
	content: "\00d7";
	font-size: larger;
}

/* || Project items styling */
.heading
{
	padding-left: 10px;
	margin: 10px;
	border-bottom: 2px solid black;
}

#projectContainer
{
	padding: 0 1rem;
}

.project
{
	--main-transition: all .1s ease-in;
	margin: 10px 0;
}

.project:first-child
{
	margin-top: 0;
}

.project img
{
	width: 30px;
	height: 30px;
}

.projectHeader
{
	display: flex;
	user-select: none;
	padding: 5px;
}

.project .arrow
{
	transition: var(--main-transition);
	transform: rotateX(180deg);
}

.project.active .arrow
{
	transform: rotateX(0deg);
}

.projectName 
{
	display: inline-block;
	margin: 0;
	padding: 0 0 2px 10px;
	flex-grow: 1;
}

.projectName::after
{
	content: ' -';
}

.project > .todos
{
	padding: 1rem;
}

.project.empty > .todos,
.project > .todos
{
	display: none;
}

.project:not(.empty).active > .todos
{
	display: block;
}

.todoItem
{
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-radius: 0 10px 10px 0;
	border: 1px solid rgb(177, 173, 173);
	border-left: 3px solid black;
	background-color: #e3e3e3;
	padding: 10px;
}

.todoItem:hover
{
	cursor: pointer;
	transition: all .1s ease-in;
	transform: scale(1.003);
	box-shadow: 3px 3px 5px 2px rgba(0, 0, 0, 0.2);
}

.todoItem:not(:first-child)
{
	margin-top: 10px;
}

.todoItem[data-priority='1']
{
	border-left-color: red;
}

.todoItem[data-priority='2']
{
	border-left-color: yellow;
}

.todoItem[data-priority='3']
{
	border-left-color: green;
}

.todoItem > .name
{
	margin: 0;
}

.todoItem > .status::before
{
	content: 'Status: ';
	font-weight: bold;
}

.todoItem > .date::before
{
	content: 'Deadline - ';
}

.todoItem.completed
{
	opacity: .5;
}

.inputContainer
{
	margin: 10px 0;
}

.inputContainer > label
{
	display: block;
}

.inputContainer > select
{
	padding: 10px;
	appearance: none;
	background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='4' height='5' viewBox='0 0 4 5'%3e%3cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e") no-repeat right .75rem center/8px 10px;
}

.inputContainer > :not(label)
{
	border: 1px solid #a7a7a7;
	background-color: #fcfcfc;
	border-radius: 4px;
	width: 90%;
}

.descTextArea
{
	height: 120px;
	border-radius: 4px;
	border: 1px solid #a7a7a7;
}

#inputSubmitContainer
{
	position: relative;
}

#projectSubmitBtn,
#todoSubmitBtn
{
	padding: 10px 20px;
}

#todoSubmitBtn
	{
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translate(-50%, -50%);
}

#projectNameInput
{
	height: 25px;
}

/* || Utilities */
.invis
{
	display: none;
}

.stopScroll
{
	overflow: hidden;
}

.centerDiv
{
	display: flex;
	justify-content: center;
	align-items: center;
}

.verticalFlex
{
	display: flex;
	flex-direction: column;
}

.noResize
{
	resize: none;
}

.flex
{
	display: flex;
}

.flexGrow
{
	flex-grow: 1;
}

.blueOnFocus
{
	transition: box-shadow .15s ease-in-out;
}

.blueOnFocus:focus
{
	box-shadow: 0 0 0 .2rem #007bff40;
}

.noSideMargin
{
	margin-left: 0;
	margin-right: 0;
}

/* || Simple recurring elem styling */

img
{
	border-radius: 5px;
	transition: all .2s ease-in-out;
}

img:not(.noGray)
{
	background-color: #0000001a;
}

img:hover:not(.noGray)
{
	background-color: #00000033;
}

a
{
	color: inherit;
}

a:focus-visible
{
	outline: 2px dotted white;
}

button
{
	all: unset;
	user-select: none;
	background-color: #d3d3d3;
	cursor: pointer;
	border-radius: 10px;
	padding: 5px;
	transition: all .2s ease-in-out;
}

button:hover
{
	background-color: #c3c3c3;
}